build==1.1.1
pipdeptree==2.16.1
sphinx==7.2.6
myst-parser==2.0.0
tox==4.14.1
sphinx_contributors==0.2.7
sphinx-copybutton==0.5.2
sphinx-copybutton==0.5.2
furo==2024.1.29
nose2==0.14.1
coverage==7.4.3

