build==1.1.1
importlib-metadata==4.8
pipdeptree==2.16.1
sphinx==7.2.6
myst-parser==2.0.0
sphinx_contributors==0.2.7
sphinx-copybutton==0.5.2
furo==2024.1.29
nose2==0.14.1
coverage==7.4.3
pyflakes==2.4
flake8==4.0
tox==4.14.1

